$backgroundStartPage: #000000;
$backgroundButton: #C4C4C4;
$backgroundPage: #FFFFFF;

body {
  font-family: Microsoft Himalaya;
  background-color: $backgroundStartPage;

}

@media (max-width: 767px) {

  .wrapper {
    height: 812px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: 50%,
  }

  .img-saw {
    width: 290px;
    height: 161px;
  }

  .main-button {
    box-sizing: border-box;
    color: $backgroundStartPage;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 146px;
    height: 49px;
    background-color: $backgroundButton;
    text-align: center;
    margin: auto;
    font-size: 36px;
    line-height: 36px;
    padding-top: 5px;
    margin-top: 100px;
  }
  
  
  
  }