$backgroundStartPage: #000000;
$backgroundButton: #C4C4C4;
$backgroundPage: #FFFFFF;
$wpLink: #E5E5E5;

body {
  font-family: Microsoft Himalaya;
  

}

@media (max-width: 767px) {

  .wrapper {
    background-color: $backgroundStartPage;
    height: 812px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: 50%,
  }

  .img-saw {
    width: 290px;
    height: 161px;
  }

  .main-button {
    box-sizing: border-box;
    color: $backgroundStartPage;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 146px;
    height: 49px;
    background-color: $backgroundButton;
    text-align: center;
    margin: auto;
    font-size: 36px;
    line-height: 36px;
    padding-top: 5px;
    margin-top: 100px;
  }

  container-wp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 271px;
    text-align: center;
  }

  .container__wp-link {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }


  .wp-text {
    display: block;
    font-family: Microsoft Himalaya;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: $backgroundStartPage;
    margin-bottom: 29px;
    margin-top: 0px;
  }

  .wp-text::after {
    top: 10px;
  }
  
  .wp-link {
    display: block;
    background-color: $wpLink;
    width: 119px;
    height: 119px;
    border-radius: 50%;
  }
  
  }